.skills {
    background-color: var(--light-blue);

    .skills-wrapper {
        height: 75vh;
        margin: auto;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .skills-content {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: 5em auto;
            grid-template-areas:
                'skill-title skill-title skill-title'
                'skill-box   skill-box   skill-box';

            .skills-title {
                grid-area: skill-title;
                color: var(--light);
                font-size: 10vmin;
                font-weight: 800;
            }

            .skills-box {
                color: var(--medium);
                background-color: var(--dark);
                font-weight: 200;
                height: 250px;
                width: 300px;
            }

            .skills-box-a {
            }
            .skills-box-b {
            }
            .skills-box-c {
            }

            .skills-box-title {
                color: var(--light);
                font-weight: 400;
            }
        }
    }
}

//950 drop to veritcle
