.skills {
    background-color: var(--light-blue);
    background: linear-gradient(59deg, var(--dark-blue) 0%, var(--light-blue) 100%, rgba(252, 176, 69, 1) 100%);

    .skills-wrapper {
        height: 75vh;
        margin: auto;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .skills-content {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: calc(8vmin + 1em) 1fr;
            margin: 15px;
            width: 100%;

            .skills-title {
                color: var(--light);
                font-size: calc(8vmin + 1em);
                font-weight: 800;
                grid-column: 1 / span 2;
            }

            .skills-box-title {
                color: var(--light);
                font-weight: 400;
                grid-row: 1;
            }
            .skills-box {
                background-color: var(--dark);
                color: var(--medium);
                font-weight: 200;
                grid-row: 2;
                height: 300px;
            }
        }
    }
}
