.nav {
    position: fixed;
    width: 100%;

    .nav-content {
        height: 150px;
        align-items: center;
        color: var(--light);
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1800px;
        padding: 20px;
        .nav-logo {
            display: flex;
            min-width: 220px;

            // .nav-svg {
            // }
            .nav-line {
                background-color: var(--light-blue);
                height: 55px;
                margin: 0 15px 0 10px;
                width: 3px;
                box-shadow: 1px 0px 3px var(--dark);
            }
            .nav-name {
                display: flex;
                flex-direction: column;
                font-size: 24px;
                justify-content: center;
                letter-spacing: 0.2rem;
                // .nav-name-first {
                // }
                // .nav-name-last {
                // }
            }
        }
        .nav-menu {
            z-index: 10;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(4, auto);
            // grid-template-rows: repeat(2, auto);
            .nav-item {
                cursor: pointer;
                font-size: 24px;
                font-weight: 300;
                transition-duration: 0.5s;
            }

            .nav-item:hover {
                color: var(--light-blue);
                text-shadow: 1px 1px 1px var(--dark);
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .nav-item {
        display: none;
    }
}
