.nav {
    position: fixed;
    width: 100%;
    z-index: 10;

    .nav-content {
        height: 150px;
        align-items: center;
        color: var(--light);
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1800px;
        padding: 10px;

        .nav-logo {
            display: flex;
            min-width: 220px;
        }
        .nav-menu {
            z-index: 10;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(4, auto);
            // grid-template-rows: repeat(2, auto);
            .nav-item {
                cursor: pointer;
                font-size: 24px;
                font-weight: 300;
                transition-duration: 0.5s;
            }

            .nav-item:hover {
                color: var(--light-blue);
                text-shadow: 1px 1px 1px var(--dark);
            }
        }
    }
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 900px) {
    .nav-item {
        display: none;
    }

    .nav-logo {
    }
}
