.welcome {
    height: 100vh;
    margin: auto;
    max-width: 1200px;

    .welcome-wall {
        background-image: url('../background.jpeg');
        background-size: cover;
        height: 100%;
        left: 0;
        opacity: 0.2;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .welcome-content {
        display: grid;
        grid-template-rows: 1.5fr repeat(3, auto) 100px 1fr;
        grid-template-columns: auto 1fr auto;
        grid-gap: 0 15px;
        height: 100%;

        .welcome-title {
            grid-column: 2;
            color: var(--light);
            font-size: 10vmin;
            font-weight: 800;
        }

        .t1 {
            grid-row: 2;
        }

        .t2 {
            grid-row: 3;
        }

        .t3 {
            grid-row: 4;
            color: var(--medium-dark);
            font-weight: 300;
            font-size: 8vmin;
            grid-column: 2;
        }

        .welcome-btn {
            align-self: end;
            grid-row: 5;
            grid-column: 2;
        }
    }
}
