.projects {
    min-height: 150vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .projects-content {
        padding: 10px;
        overflow: hidden;
        margin: auto;
        max-width: 1200px;
        height: 100%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.75fr repeat(4, 1fr);
        grid-template-areas:
            'projects-title .'
            'githubA githubA '
            'githubB githubB'
            'githubC githubC'
            'githubD githubD';

        .projects-title {
            grid-area: projects-title;
            font-size: 11vmin;
            overflow: hidden;
            color: var(--light);
            font-weight: 800;
            align-self: end;
        }

        .projects-github-box {
            display: grid;
            grid-gap: 10px;
            padding: 20px;
            height: 300px;
            background-color: var(--medium);
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
                'gh-image gh-image gh-name gh-name gh-name gh-name'
                'gh-image gh-image gh-subtitle gh-subtitle  gh-subtitle  gh-subtitle '
                'gh-image gh-image gh-text gh-text gh-text gh-text'
                'gh-btnA  gh-btnB  gh-text gh-text gh-text gh-text';

            .github-box-image {
                background-color: var(--medium-dark) !important;
                grid-area: gh-image;
                &-a {
                    background-image: url('../Shared/Images/mockup4.jpg');
                    background-position: 50% 30%;
                    background-size: cover;
                    grid-area: gh-image;
                }

                &-b {
                    background-image: url('../Shared/Images/mockup2.jpg');
                    background-position: 50% 30%;
                    background-size: cover;
                    grid-area: gh-image;
                }
                &-c {
                    background-image: url('../Shared/Images/mockup3.jpg');
                    background-position: 50% 50%;
                    background-size: cover;
                    grid-area: gh-image;
                }
                &-d {
                    // background-image: url('../Shared/Images/mockup2.jpg');
                    background-position: 50% 50%;
                    background-size: cover;
                    grid-area: gh-image;
                }
            }

            .github-btn-a {
                grid-area: gh-btnA;
            }

            .github-btn-b {
                grid-area: gh-btnB;
            }
            .github-box-title {
                grid-area: gh-name;
                font-size: 52px;
                font-weight: 700;
            }
            .github-box-sub-title {
                grid-area: gh-subtitle;
                font-size: 36px;
                font-weight: 300;
            }
            .github-box-text {
                font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1200 - 300)));
                font-weight: 100;
                grid-area: gh-text;
            }
        }

        .github-a {
            grid-area: githubA;
        }
        .github-b {
            grid-area: githubB;
        }
        .github-c {
            grid-area: githubC;
        }
        .github-d {
            grid-area: githubD;
        }
    }
}
.svg-divider-b {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 5vw;
}

@media screen and (max-width: 800px) {
    .projects-content {
        grid-template-rows: 0.4fr repeat(4, 1fr) !important;

        .projects-github-box {
            display: grid;
            grid-gap: 10px;
            padding: 20px;
            height: auto !important;
            background-color: var(--medium);
            grid-template-columns: repeat(2, auto) !important;
            grid-template-rows: repeat(8, 50px) !important;
            grid-template-areas:
                'gh-image gh-image'
                'gh-image gh-image'
                'gh-image gh-image'
                'gh-name  gh-name'
                'gh-subtitle gh-subtitle'
                'gh-text  gh-text'
                'gh-text  gh-text'
                'gh-btnA gh-btnB' !important;
        }
        .github-btn-a {
            align-self: center;
            justify-self: center;
            grid-area: gh-btnA;
        }

        .github-btn-b {
            align-self: center;

            justify-self: center;

            grid-area: gh-btnB;
        }
    }
}
@media screen and (max-width: 475px) {
    .projects-content {
        grid-template-rows: 0.2fr repeat(4, 1fr) !important;

        .projects-github-box {
            display: grid;
            grid-gap: 10px;
            padding: 20px;
            height: auto !important;
            background-color: var(--medium);
            grid-template-columns: repeat(1, auto) !important;
            grid-template-rows: repeat(5, 50px) 150px auto auto 50px !important;
            grid-template-areas:
                'gh-image'
                'gh-image'
                'gh-image'
                'gh-name'
                'gh-subtitle'
                'gh-text'
                'gh-text'
                'gh-btnA'
                'gh-btnB' !important;
        }
        .github-box-title {
            grid-area: gh-name;
            // font-size: 36px !important;
            font-weight: 700;
        }
        .github-box-sub-title {
            grid-area: gh-subtitle;
            // font-size: 26px !important;
            font-weight: 300;
        }
        .github-box-text {
            // font-size: 16px !important;
            font-weight: 100;
            grid-area: gh-text;
        }
        .github-btn-a {
            align-self: center;
            justify-self: center;
            grid-area: gh-btnA;
        }

        .github-btn-b {
            align-self: center;
            justify-self: center;
            grid-area: gh-btnB;
        }
    }
}
