.about {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    min-height: 75vh;
    .about-wall {
        // background-image: url('../Shared/Images/bio.png');
        background-position: 55%;
        background-size: cover;
        height: 100vh;
        left: 0;
        opacity: 0.1;
        position: absolute;
        top: 100vh;
        width: 100vw;
        z-index: -2;
    }

    .about-content {
        display: grid;
        grid-gap: 15px;
        grid-template-areas:
            '. image image title  title .'
            '. image image text   text .'
            '. image image button button .';
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(3, auto);
        margin: auto;
        max-width: 100%;

        .about-image {
            background-color: var(--medium);
            background-image: url('../Shared/Images/bio.png');
            background-size: cover;
            background-position: center center;
            grid-area: image;
            margin: 0 50px 0 0;
            width: 300px;
            opacity: 0.7;
        }

        .about-text-title {
            color: var(--light);
            font-size: calc(8vmin + 1em);

            font-weight: 800;
            grid-area: title;
        }

        .about-text {
            color: var(--medium);
            font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1200 - 300)));
            font-weight: 300;
            grid-area: text;
        }

        .about-btn-container {
            display: flex;
            grid-area: button;
            justify-content: space-between;
        }
    }
}

//820 to chaneg buttons to icon mode

@media screen and (max-width: 830px) {
    .about {
        min-height: 85vh;
        .about-wall {
            background-image: url('../Shared/Images/bio.png');
        }
        .about-content {
            grid-template-areas:
                '. title  title .'
                '. text   text .'
                '. button button .';
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(3, auto);
        }
        .about-image {
            display: none;
        }
    }
}

@media screen and (max-width: 475px) {
    .about {
        min-height: 90vh;

        .about-content {
            margin: 0 !important;
        }

        .about-text-title {
            text-align: center;
        }
        .about-text {
            text-align: center;
        }
        .about-btn-container {
            flex-direction: row;
            align-items: center;
        }
    }
}
