@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    background-color: var(--dark);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include flex-center();

    &-content {
        height: 100%;
        @include flex-center();
        &-logo {
            @include flex-center();
            width: 300px;
            height: 300px;
        }
        &-bar {
            background-color: var(--light-blue);
            width: 1px;
            height: 15px;
        }
    }
}

.progress-bar {
    animation: progress-bar 1s linear;
    animation-fill-mode: forwards;
}

@keyframes progress-bar {
    0% {
        width: 1px;
    }

    100% {
        width: 200px;
    }
}

.fader {
    animation: fader 1.5s linear;
    animation-fill-mode: forwards;
}

@keyframes fader {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.border-clock {
    animation: border-clock 2s linear;
    animation-fill-mode: forwards;
}

@keyframes border-clock {
    0% {
        border: 1px solid var(--light-blue);
    }

    75% {
        border: 175px solid var(--light-blue);
    }
    100% {
        opacity: 0;
    }
}
