@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    background-color: var(--light-blue);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &-content {
        height: 100%;
        width: 100%;
        @include center;
        &-logo {
            margin: 20px;
        }

        &-bar {
            background-color: var(--dark);
            width: 1px;
            height: 15px;
        }
    }
}

.progress-bar {
    animation: progress-bar 1s linear;
    animation-fill-mode: forwards;
}

@keyframes progress-bar {
    0% {
        width: 1px;
    }

    100% {
        width: 125px;
    }
}

.fader {
    animation: fader 1.5s linear;
    animation-fill-mode: forwards;
}

@keyframes fader {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
