.footer {
    background-color: var(--light-blue);
    color: var(--dark);
    height: 200px;
    margin-top: 50px;
    position: relative;
    width: 100vw;

    .footer-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1200 - 300)));
        font-weight: 300;
        height: 100%;
        justify-content: center;
        margin: auto;
        max-width: 1200px;
        padding: 20px;
    }
}

.svg-divider-c {
    height: 5vw;
    position: absolute;
    top: -1px;
    width: 100%;
    z-index: 1;
}
