@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import './sanitize.css';

:root {
    --dark: #232323;
    --medium-dark: #666666;
    --medium: #bbbbbb;
    --light: #ececec;
    --dark-blue: #0d85da;
    --light-blue: #57b0f1;

    --heading: calc(4vw + 2em);
}

* {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: var(--dark);
}

.box {
    border-radius: 5px;
}

.background-logo {
    opacity: 0.3;
}
